@reference "./globals.css";

.home-container {
    @apply gap-12;
    @apply h-screen;
    @apply flex flex-col;
    @apply justify-center items-center;
}

.logo-container {
    @apply flex flex-col;
    @apply justify-center items-center;
}

.title-1 {
    @apply font-bold;
    @apply text-6xl md:text-7xl lg:text-8xl;
}

.title-2 {
    @apply font-normal;
    @apply text-4xl md:text-5xl lg:text-6xl;
}

.actions-container {
    @apply gap-6;
    @apply flex flex-row;
}